---
const {p_one,p_two,p_three, another, degraded,text_one,text_two,text_three} = Astro.props
---

        <section class="h-64 relative md:hidden inter-200">
                <section class=`absolute pt-[70px] flex ${another} flex-col gap-6 text-[14px] [&>*]:text-white/30`>
                    <span class=`${p_one}`>{text_one}</i></span>
                    <span class=`${p_two}`>{text_two}</span>
                    <span class=`${p_three}`>{text_three}</span>
                </section>
                <section class=`${degraded}`></section>
        </section>