---
const {p_one,p_two,p_three, degraded,text_one,text_two,text_three} = Astro.props
---

        <section class="h-64 relative md:hidden inter-200 flex justify-center ">
                <section class=`absolute h-full flex flex-col justify-center w-full gap-16 text-[14px] [&>*]:text-white/30`>
                    <span class=`${p_one}`>{text_one}</i></span>
                    <span class=`animated_white_basic_two ${p_two}`>{text_two}</span>
                    <span class=`${p_three}`>{text_three}</span>
                </section>
        </section>