---
interface Props{
    company?: string
    others?: string
    dates?: string
    workstation?: string
    paragraph?: string
    paragraph_two?: string
    country?: string
    countryName?: string
    language_one?: string
    language_two?: string
    language_three?: string
    improvements?: string
    }
    const {company,dates,workstation,paragraph,paragraph_two,country, countryName, language_one,language_two,language_three } = Astro.props
---
       
<section class="border border-white/30 rounded-xl" >
    <div class="bg-white/10 m-1 p-3 rounded-md">
                        
            <div class="flex flex-col justify-center items-center">
                <h1 class="text-[16px] text-white/80 inter-300">{company}</h1>
                <span class="text-[14px] h-fit w-fit text-[#7a7a7a] inter-300"> {workstation} </span>
            </div>
                    
        <p class="flex flex-col text-white/70 text-[12px] inter-200 py-5">
            <span class="text-[13px] text-white/40 mb-2"> {dates} </span>  
            <span class="mb-4">{paragraph}</span> 
            <span>{paragraph_two}</span> 
        </p>

        <section class="text-[#cfcfcf] text-[12px] flex justify-between items-center gap-3">
                    <section class="flex gap-2">
                        <img src={country} alt="" class="h-5">
                        <span>{countryName} </span>
                    </section>
                
                    <section class="flex gap-2">
                        <img src={language_one} alt="" class="h-5">
                        <img src={language_two} alt="" class="h-5">
                        <img src={language_three} alt="" class="h-5">
                    </section>
            </section>
        
        </div>        
</section>
    