---
interface Props{
link?: string
img?: string
height?: string
height_md?: string
height_lg?: string
shadow?: string
}
const {link,img,height, height_md, height_lg, shadow='drop-shadow-[0_8px_8px_rgba(255,255,255,0.9)]'} = Astro.props
---

    <span class="flex text-[16px] gap-5 items-center">
        <a href={link} class="flex flex-col dropdown_social_hover items-center ">
            <img src={img} alt="" class=`${height} ${height_md} ${height_lg} hover:drop-shadow-[0_1px_8px_rgba(255,255,255,0.9)]`>
        </a>
    </span>