---
const {p_one,p_two,p_three, another, degraded} = Astro.props
---

        <section class="h-64 relative md:hidden">
                <section class=`absolute pt-[70px] flex ${another} flex-col gap-6 text-[14px] [&>*]:text-white/30`>
                    <span class=`${p_one}`>+14 Projects deployed</i></span>
                    <span class=`${p_two}`>13k Users succesufully</span>
                    <span class=`${p_three}`>35 Opinions of customers</span>
                </section>
                <section class=`${degraded}`></section>
        </section>